.wrapper-list{
    background-color: #f4f4f4;
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 25px;
}

.title{
    color: #6305dd;
    text-align: center;
    font-size: 60px;
}

.next-fly{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 25px;
        padding: 20px;
} 


.count{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #6305dd;
    border-radius: 5px;
}

.btn-count{
    background-color: transparent;
    font-weight: 700;
    font-size: 25px;
    color: #6305dd;
    border: none;
    padding: 7px;
}

.count-number{
    margin: 0 7px;
    font-size: 20px;
}

.btn-lg{
    margin-top: 15px;
    background-color: transparent;
    color: #6305dd;
    width: 100%;
}

.btn-lg:hover{
    background-color: #6305dd;
}